*.pb filter=lfs diff=lfs merge=lfs -text
*.ckpt* filter=lfs diff=lfs merge=lfs -text
q
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]add[[:space:]].
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]commit[[:space:]]-m[[:space:]]test filter=lfs diff=lfs merge=lfs -text
build
[main[[:space:]]e238b09][[:space:]]test[[:space:]]build
[[:space:]]131[[:space:]]files[[:space:]]changed,[[:space:]]128[[:space:]]insertions(+),[[:space:]]32[[:space:]]deletions(-)
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]].vscode/settings.json
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/AnhTu/Messenger_creation_3513C404-872B-4059-9818-DA01337AFC7D.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/AnhTu/Messenger_creation_74F48522-20E2-499E-BF13-183A3613A977.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/AnhTu/Messenger_creation_B7948BE5-4E60-488E-AA05-A6EE773375FF.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BotIu/Messenger_creation_1EC7F595-3688-43DB-B2E4-1A65CF0802F0.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BotIu/Messenger_creation_9B02EF81-19C8-49B4-9125-9439B97BE7A4.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BotIu/Messenger_creation_9EA4596D-3B30-4172-9ADE-DFA0E6875DA9.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485290655_1069958524968534_6128511440722701069_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485424995_1386922852752466_129752981138586263_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485464001_1219012669643907_2610181536763391909_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485512577_2113779945729669_160018376255303225_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/z6377532752047_4b7b3c7d460239f92fa3cec037738eca.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151626.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151720.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151731.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151738.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Jack/2209C349-3B30-47AC-89C1-1152E1A42FFC.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Jack/A3FED369-0E1F-4064-830E-FBFD69D77C85.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/LeAnhTrang/IMG_1742972296094.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/LeAnhTrang/IMG_20250326_134739.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_0327.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_20250327_092236.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_20250327_092237.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_20250327_092241.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NgocKem/IMG_1742972407559.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NgocKem/IMG_1742972428266.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NgocKem/IMG_1742972431298.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Phuong/Messenger_creation_07B34AE7-45ED-4C9F-BD51-83035DA8B5A4.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Phuong/Messenger_creation_8461CDFC-3B34-4479-B438-1BD2FD3647CF.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Thao/851D4C65-07BE-4220-8488-84C40C1A79D6.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Thao/98E5A551-3DC2-4A85-9497-AFA4A845325A.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/ThaoNguyen/IMG_20250325_173023.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/ThaoNguyen/IMG_20250325_173025.png
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]add[[:space:]].
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]commit[[:space:]]-m[[:space:]]test filter=lfs diff=lfs merge=lfs -text
build
[main[[:space:]]e238b09][[:space:]]test[[:space:]]build
[[:space:]]131[[:space:]]files[[:space:]]changed,[[:space:]]128[[:space:]]insertions(+),[[:space:]]32[[:space:]]deletions(-)
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]].vscode/settings.json
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/AnhTu/Messenger_creation_3513C404-872B-4059-9818-DA01337AFC7D.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/AnhTu/Messenger_creation_74F48522-20E2-499E-BF13-183A3613A977.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/AnhTu/Messenger_creation_B7948BE5-4E60-488E-AA05-A6EE773375FF.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BotIu/Messenger_creation_1EC7F595-3688-43DB-B2E4-1A65CF0802F0.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BotIu/Messenger_creation_9B02EF81-19C8-49B4-9125-9439B97BE7A4.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BotIu/Messenger_creation_9EA4596D-3B30-4172-9ADE-DFA0E6875DA9.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485290655_1069958524968534_6128511440722701069_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485424995_1386922852752466_129752981138586263_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485464001_1219012669643907_2610181536763391909_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/485512577_2113779945729669_160018376255303225_n.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/BuiCongSon/z6377532752047_4b7b3c7d460239f92fa3cec037738eca.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151626.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151720.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151731.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Emma/IMG_20250326_151738.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Jack/2209C349-3B30-47AC-89C1-1152E1A42FFC.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Jack/A3FED369-0E1F-4064-830E-FBFD69D77C85.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/LeAnhTrang/IMG_1742972296094.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/LeAnhTrang/IMG_20250326_134739.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_0327.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_20250327_092236.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_20250327_092237.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NghiemAnhHieu/IMG_20250327_092241.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NgocKem/IMG_1742972407559.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NgocKem/IMG_1742972428266.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/NgocKem/IMG_1742972431298.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Phuong/Messenger_creation_07B34AE7-45ED-4C9F-BD51-83035DA8B5A4.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Phuong/Messenger_creation_8461CDFC-3B34-4479-B438-1BD2FD3647CF.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Thao/851D4C65-07BE-4220-8488-84C40C1A79D6.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Thao/98E5A551-3DC2-4A85-9497-AFA4A845325A.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/ThaoNguyen/IMG_20250325_173023.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/ThaoNguyen/IMG_20250325_173025.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/ThaoNguyen/IMG_20250325_173026.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/ThaoNguyen/IMG_20250325_173028.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/ThienAn/att.egtzxRes4EVPEbV4hPcWEW7g0qWm7_7dB1ObmQ-jbw8.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TranDangHieu/download[[:space:]](1).png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TranDangHieu/download[[:space:]](2).png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TranDangHieu/download.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrangNhung/IMG_20250326_134208.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrangNhung/IMG_20250326_134210.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrangNhung/IMG_20250326_134211.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrinhHuuTuan/IMG1.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrinhHuuTuan/IMG2.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrinhTranPhuongTuan/Screenshot[[:space:]]2025-03-26[[:space:]]152730.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrinhTranPhuongTuan/Screenshot[[:space:]]2025-03-26[[:space:]]152756.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TrinhTranPhuongTuan/Screenshot[[:space:]]2025-03-26[[:space:]]152811.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TuSenna/IMG_20250326_135142.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TuSenna/IMG_20250326_135145.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/TuSenna/IMG_20250326_135147.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Viruss/Messenger_creation_1EFFC217-D09C-416C-86FD-59975646D0EE.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Viruss/Messenger_creation_7D77F713-A6DC-42A6-B432-478470A160F4.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Viruss/Messenger_creation_B0605F72-CD05-4E02-8A7B-66FF0577F5AF.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Xemesis/Messenger_creation_0BB36BA4-463A-4FE8-A1D8-7FBEEAD0218A.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/Xemesis/Messenger_creation_40E43D0C-5583-4E7F-BBAF-F0BD248EE25D.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/bounding_boxes_47191.txt
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/processed/revision_info.txt
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/AnhTu/Messenger_creation_3513C404-872B-4059-9818-DA01337AFC7D.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/AnhTu/Messenger_creation_74F48522-20E2-499E-BF13-183A3613A977.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/AnhTu/Messenger_creation_B7948BE5-4E60-488E-AA05-A6EE773375FF.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BotIu/Messenger_creation_1EC7F595-3688-43DB-B2E4-1A65CF0802F0.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BotIu/Messenger_creation_9B02EF81-19C8-49B4-9125-9439B97BE7A4.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BotIu/Messenger_creation_9EA4596D-3B30-4172-9ADE-DFA0E6875DA9.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BuiCongSon/485290655_1069958524968534_6128511440722701069_n.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BuiCongSon/485424995_1386922852752466_129752981138586263_n.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BuiCongSon/485464001_1219012669643907_2610181536763391909_n.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BuiCongSon/485512577_2113779945729669_160018376255303225_n.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/BuiCongSon/z6377532752047_4b7b3c7d460239f92fa3cec037738eca.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/ChuQuangHuy/IMG_0349.HEIC
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/DangTienHoang/IMG_0539.HEIC
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/DangTienHoang/IMG_0540.HEIC
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/DangTienHoang/IMG_0541.HEIC
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/DoMixi/IMG_0334.HEIC
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/DoMixi/IMG_0336.HEIC
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Emma/IMG_20250326_151626.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Emma/IMG_20250326_151720.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Emma/IMG_20250326_151731.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Emma/IMG_20250326_151738.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Jack/2209C349-3B30-47AC-89C1-1152E1A42FFC.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Jack/A3FED369-0E1F-4064-830E-FBFD69D77C85.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/LeAnhTrang/IMG_1742972296094.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/LeAnhTrang/IMG_20250326_134739.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/NghiemAnhHieu/IMG_0327.JPG
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/NghiemAnhHieu/IMG_20250327_092236.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/NghiemAnhHieu/IMG_20250327_092237.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/NghiemAnhHieu/IMG_20250327_092241.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/NgocKem/IMG_1742972407559.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/NgocKem/IMG_1742972428266.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/NgocKem/IMG_1742972431298.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Phuong/Messenger_creation_07B34AE7-45ED-4C9F-BD51-83035DA8B5A4.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Phuong/Messenger_creation_7343AEA7-71DD-40DB-B8C3-9D6F0CED60F9.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Phuong/Messenger_creation_8461CDFC-3B34-4479-B438-1BD2FD3647CF.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Thao/851D4C65-07BE-4220-8488-84C40C1A79D6.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Thao/98E5A551-3DC2-4A85-9497-AFA4A845325A.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/ThaoNguyen/IMG_20250325_173023.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/ThaoNguyen/IMG_20250325_173025.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/ThaoNguyen/IMG_20250325_173026.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/ThaoNguyen/IMG_20250325_173028.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/ThienAn/att.egtzxRes4EVPEbV4hPcWEW7g0qWm7_7dB1ObmQ-jbw8.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TranDangHieu/download[[:space:]](1).jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TranDangHieu/download[[:space:]](2).jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TranDangHieu/download.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrangNhung/IMG_20250326_134208.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrangNhung/IMG_20250326_134210.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrangNhung/IMG_20250326_134211.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrinhHuuTuan/IMG1.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrinhHuuTuan/IMG2.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrinhTranPhuongTuan/Screenshot[[:space:]]2025-03-26[[:space:]]152730.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrinhTranPhuongTuan/Screenshot[[:space:]]2025-03-26[[:space:]]152756.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TrinhTranPhuongTuan/Screenshot[[:space:]]2025-03-26[[:space:]]152811.png
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TuSenna/IMG_20250326_135142.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TuSenna/IMG_20250326_135145.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/TuSenna/IMG_20250326_135147.jpg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Viruss/Messenger_creation_1EFFC217-D09C-416C-86FD-59975646D0EE.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Viruss/Messenger_creation_7D77F713-A6DC-42A6-B432-478470A160F4.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Viruss/Messenger_creation_B0605F72-CD05-4E02-8A7B-66FF0577F5AF.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Xemesis/Messenger_creation_0BB36BA4-463A-4FE8-A1D8-7FBEEAD0218A.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]DataSet/FaceData/raw/Xemesis/Messenger_creation_40E43D0C-5583-4E7F-BBAF-F0BD248EE25D.jpeg
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]Models/20180402-114759.pb
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]Models/facemodel.pkl
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]Models/model-20180402-114759.ckpt-275.data-00000-of-00001
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]Models/model-20180402-114759.ckpt-275.index
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]Models/model-20180402-114759.meta
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]src/__pycache__/facenet.cpython-312.pyc
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]src/align/__pycache__/detect_face.cpython-312.pyc
[[:space:]]delete[[:space:]]mode[[:space:]]100644[[:space:]]video/a
[[:space:]]delete[[:space:]]mode[[:space:]]100644[[:space:]]video/camtest.mp4
[[:space:]]create[[:space:]]mode[[:space:]]100644[[:space:]]video/testdata.mp4
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]push[[:space:]]origin[[:space:]]main
Enumerating[[:space:]]objects:[[:space:]]192,[[:space:]]done.
Counting[[:space:]]objects:[[:space:]]100%[[:space:]](192/192),[[:space:]]done.
Delta[[:space:]]compression[[:space:]]using[[:space:]]up[[:space:]]to[[:space:]]12[[:space:]]threads
Compressing[[:space:]]objects:[[:space:]]100%[[:space:]](179/179),[[:space:]]done.
Writing[[:space:]]objects:[[:space:]]100%[[:space:]](183/183),[[:space:]]124.82[[:space:]]MiB[[:space:]]|[[:space:]]3.98[[:space:]]MiB/s,[[:space:]]done.
Total[[:space:]]183[[:space:]](delta[[:space:]]12),[[:space:]]reused[[:space:]]0[[:space:]](delta[[:space:]]0),[[:space:]]pack-reused[[:space:]]0[[:space:]](from[[:space:]]0)
remote:[[:space:]]Resolving[[:space:]]deltas:[[:space:]]100%[[:space:]](12/12),[[:space:]]completed[[:space:]]with[[:space:]]5[[:space:]]local[[:space:]]objects.
remote:[[:space:]]warning:[[:space:]]File[[:space:]]Models/20180402-114759.pb[[:space:]]is[[:space:]]91.31[[:space:]]MB;[[:space:]]this[[:space:]]is[[:space:]]larger[[:space:]]than[[:space:]]GitHub's[[:space:]]recommended[[:space:]]maximum[[:space:]]file[[:space:]]size[[:space:]]of[[:space:]]50.00[[:space:]]MB
remote:[[:space:]]error:[[:space:]]Trace:[[:space:]]dc25d1badaf76bfc197b1cfa6d5e9da3d1a9f53a78b6751ee657cd5f6d2e4d31
remote:[[:space:]]error:[[:space:]]See[[:space:]]https://gh.io/lfs[[:space:]]for[[:space:]]more[[:space:]]information.
remote:[[:space:]]error:[[:space:]]File[[:space:]]Models/model-20180402-114759.ckpt-275.data-00000-of-00001[[:space:]]is[[:space:]]106.53[[:space:]]MB;[[:space:]]this[[:space:]]exceeds[[:space:]]GitHub's[[:space:]]file[[:space:]]size[[:space:]]limit[[:space:]]of[[:space:]]100.00[[:space:]]MB
remote:[[:space:]]error:[[:space:]]GH001:[[:space:]]Large[[:space:]]files[[:space:]]detected.[[:space:]]You[[:space:]]may[[:space:]]want[[:space:]]to[[:space:]]try[[:space:]]Git[[:space:]]Large[[:space:]]File[[:space:]]Storage[[:space:]]-[[:space:]]https://git-lfs.github.com.
To[[:space:]]https://github.com/DangHieu19022004/MiAI_FaceRecog_3.git
[[:space:]]![[:space:]][remote[[:space:]]rejected][[:space:]]main[[:space:]]->[[:space:]]main[[:space:]](pre-receive[[:space:]]hook[[:space:]]declined)
error:[[:space:]]failed[[:space:]]to[[:space:]]push[[:space:]]some[[:space:]]refs[[:space:]]to[[:space:]]'https://github.com/DangHieu19022004/MiAI_FaceRecog_3.git'
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]^C
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]lfs[[:space:]]install
Updated[[:space:]]Git[[:space:]]hooks.
Git[[:space:]]LFS[[:space:]]initialized.
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]lfs[[:space:]]track[[:space:]]*.pb
Tracking[[:space:]]*.pb
Admin@DOLPHINPC[[:space:]]MINGW64[[:space:]]/c/MiAI_FaceRecog_3[[:space:]](main)
$[[:space:]]git[[:space:]]lfs[[:space:]]track[[:space:]]*.ckpt* filter=lfs diff=lfs merge=lfs -text
